<html>
<head></head>
<head><center><b><font color=#900000  size = '7'><img width='75' height=75 src='http://upload.wikimedia.org/wikipedia/en/3/39/Pokeball.PNG'> &nbsp; 
P<font color =FFCC33 size=7>
O</font><font  color=#900000 size=7>
K</font><font color =FFCC33 size=7>
E</font><font  color=#900000 size=7>
D</font><font color =FFCC33 size=7>
E</font><font  color=#900000 size=7>
X</font> &nbsp; 
<img width='75' height=75 src='http://upload.wikimedia.org/wikipedia/en/3/39/Pokeball.PNG'> 
</b></center></head></font><br><br>
<body bgcolor =3399FF>

<form method="GET" action="NewWebpage.py">
<b><font size= 5>SEARCH FOR A </font><font size=5 color=#900000 >POKEMON:</font></b><br><br><br>
<table border = "1" style="border:3px splid white;" align='center'>

<tr>
<td width = "200" bgcolor =FFFF99> <center>
	<input type='radio' checked name='SearchType' value='basic'>Basic Search:</td> 
	<td bgcolor=FF6666>

<input type='radio' checked name='SearchBy' value='Name'>NAME:<input type="text" name="PokemonName" size='25'>
<input type='radio' name='SearchBy' value='ID'>ID: <input type="text" name="ID" size="8"></td></tr>

<tr>
<td width = "200" bgcolor =FFFF99> <center>
	
<input type='radio' name='SearchType' value='advanced'>Advanced Search:</td>
<td bgcolor =FF6666>

<b>SELECT TYPES:</b>
<ul>
<li><b>TYPE 1:</b>
<select name='type1' size='1'>

<option>Bug</option>
<option>Dark</option>
<option>Dragon</option>
<option>Electr</option>
<option>Fight</option>
<option>Fire</option>
<option>Flying</option>

<option>Ghost</option>
<option>Grass</option>
<option>Ground</option>
<option>Ice</option>
	<option>Normal</option>
<option>Poison</option>
<option>Psychic</option>

<option>Rock</option>
<option>Steel</option>
<option>Water</option><option>N/A</option>
</select></li><br><br>
	<li><b>TYPE 2:</b>
<select name='type2' size='1'>

<option>Bug</option>
<option>Dark</option>
option>Dragon</option>
<option>Electric</option>
<option>Fight</option>
<option>Fire</option>
<option>Flying</option>
<option>Ghost</option>

<option>Grass</option>
<option>Ground</option>
<option>Ice</option>
<option>Normal</option>
<option>Poison</option>
<option>Psychic</option>
<option>Rock</option>
<option>Steel</option>

<option>Water</option>
<option>N/A</option></select></li></ul><br>

<b>Sort by:</b>
	<select name='sort' size='1'>

<option>HP</option>
<option>Attack</option>
<option>Defense</option>
<option>Speed</option>
<option>Special Attack</option>
<option>Special Defense</option>
<option>Total</option>

<option>Weight</option>
<option>Height</option>

<option>ID</option></select></td></tr>
</table>
<br><br>

<p align="center"> <input type="submit" name="go" value="FIND MY POKEMON!"></p>

</form><br>
<center><img src=http://24.media.tumblr.com/tumblr_m1203znCsk1rr1vyxo1_500.gif>
</center><br><br><br>
<font size=5>Credits to Michael Jin for his Pokemon data files.</font><br><br><br><br>
    </body>
</html>
